<div class="flex">
    <div class="flex-col w-3/6">
        <div class="px-8 bg-yellow-100 w-full rounded-md border-solid border-2 shadow-md mb-4">
            <h2 class="font-bold text-3xl">Hola 🖐️</h2>
            <br>
            <h2 class="text-lg font-bold">Benjamín Miranda Ovalle</h2>
            <p class="text-lg">Estudiante de Ingeniería Civil en Compputación e informática</p>
        </div>
        <div class="px-8 bg-yellow-100 w-full rounded-md border-solid border-2 shadow-md mb-4">
            <p class="text-lg">Soy un apasionado por la programación y la tecnología, y en general me interesan todos los procesos asociados a la construcción de software. </p>
            <br>
            <br>
        </div>
    </div>

</div>
