<div class="flex">
    <div class="flex-col w-3/4 mr-4">
        <div class="px-2 bg-orange-50 w-full rounded-md border-solid border-2 shadow-md mb-4 py-4">
            <h2 class="font-bold text-3xl">Hola 🖐️</h2>
            <br>
            <h2 class="text-2xl font-bold">Benjamín Miranda Ovalle</h2>
            <p class="text-2xl">Estudiante de Ingeniería Civil en Compputación e informática</p>
        </div>
        <div class="px-2 bg-orange-50 w-full rounded-md border-solid border-2 shadow-md mb-4 py-4">
            <p class="text-xl">Soy un apasionado por la programación y la tecnología, y en general me interesan todos los procesos asociados a la construcción de software. </p>
            <br>
            <br>
        </div>
    </div>
    <div class="bg-orange-50 mb-4 py-4 rounded-md border-solid border-2 shadow-md w-3/12 flex justify-center">
        <img class= "w-48" src="https://media.discordapp.net/attachments/958851514850504704/1312623443564298260/IMG_20240310_002603240.jpg?ex=67570e98&is=6755bd18&hm=e6ee50a63ce45b8dea4a7fa470b28c38cc398d20a1f58db00f2b29a1883b0cac&=&format=webp&width=505&height=671">
    </div>
</div>
