<div class="w-full bg-orange-50 px-4 border-solid border-2 shadow-md py-2 rounded-md flex justify-between">
    <div class="flex">

        <a href="https://www.instagram.com/benja.dev_/">
            <img src="https://cdn.discordapp.com/attachments/718305281129447474/1315463598486589483/Instagram_icon.png?ex=67578072&is=67562ef2&hm=d08567cfeeaeabf2d51ffd3f1a13a7729dab5cbdd75f0bf9a985b7a2c8d76644&" 
            class="w-8 h-8 mr-2"></a>
        <a href="https://www.linkedin.com/in/benjam%C3%ADn-miranda-263968242/">
            <img src="https://cdn.discordapp.com/attachments/718305281129447474/1315463601577787432/linkedin.png?ex=67578072&is=67562ef2&hm=f99b08eca417b407b0482fc5c66d3d66faae30ab4a6be0b1d56eabc7f47558b6&" 
        class="w-8 h-8 mr-2">
        </a>
        
        <a href="https://github.com/bxnjadev">
            <img src="https://cdn.discordapp.com/attachments/718305281129447474/1315464842282270760/25231.png?ex=6757819a&is=6756301a&hm=be9ed73b13278c49d95d9d5d719a5d3b7979a960a7b48bcfd1aa9ebbac4e4c41&" 
            class="w-8 h-8">
        </a>

        
    </div>
    <div>
        <p class="text-base">All rights reserved BenjaDev ©</p>
    </div>
</div>