
<div class="flex mb-4">
    <div class="w-3/6 bg-yellow-100 px-8 border-solid border-2 shadow-md mr-4">
        <h2 class="font-bold text-3xl">Tecnologías 💻</h2>
        <br>
        <p class="text-lg">Tengo conocimiento en los siguientes lenguajes</p>
        <ul class="list-disc">
            <li>Java</li>
            <li>TypeScript</li>
            <li>C++</li>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>C#</li>
        </ul>
    </div>
    <div class="w-3/6 bg-yellow-100 px-8 border-solid border-2 shadow-md">
        <h2 class="font-bold text-3xl">Proyectos Destacados ⚗️</h2>
        <br>
        <p class="text-lg">Me he desempe;ado trabajando en los siguientes proyectos</p>
        <ul class="list-disc">
            <li>Taller de la asignatura Introduccióon al Desarrollo Web/Móvil: </li>
            <li>Librería en Java que permite la comunicación y serialización de objetos: </li>
        </ul>
    </div>
</div>

<div class="w-full bg-yellow-100 px-8 border-solid border-2 shadow-md">
    <br>
    <p class="text-lg">Soy una persona empática y capaz de entender los problemas de los demás, para fomentar el trabajo en equipo. También, tengo buena comunicación efectiva, para poder realizar conferencias y charlas.</p>
    <br>
</div>