
<div class="flex mb-4">
    <div class="w-3/6 bg-orange-50 px-8 border-solid border-2 rounded-md shadow-md mr-4 py-4">
        <h2 class="font-bold text-3xl">Tecnologías 💻</h2>
        <br>
        <p class="text-xl">Tengo conocimiento en los siguientes lenguajes</p>
        <ul class="list-disc">
            <li class="text-xl">Java</li>
            <li class="text-xl">TypeScript</li>
            <li class="text-xl">C++</li>
            <li class="text-xl">JavaScript</li>
            <li class="text-xl">HTML</li>
            <li class="text-xl">CSS</li>
            <li class="text-xl">C#</li>
        </ul>
    </div>
    <div class="w-3/6 bg-orange-50 px-8 border-solid border-2 rounded-md shadow-md py-4">
        <h2 class="font-bold text-3xl">Proyectos Destacados ⚗️</h2>
        <br>
        <p class="text-xl">Me he desempeñado trabajando en los siguientes proyectos</p>
        <ul class="list-disc">
            <li class="text-xl">Taller de la asignatura Introducción al Desarrollo Web/Móvil: <a style="color: green" href="https://github.com/FernandoChav/taller-webapi" target="_blank">Clic aquí para ver</a></li>
            <li class="text-xl">Librería en Java que permite la comunicación y serialización de objetos: <a style="color: green" href="https://github.com/bxnjadev/VMessenger" target="_blank">Clic aquí para ver</a></li>
            <li class="text-xl">Contribuidor en la creación del sistema principal para el servidor de Minecraft Astrocube: <a style="color: green" href="https://github.com/AstroCube/Centauri" target="_blank">Clic aquí para ver</a></li>
        </ul>
    </div>
</div>

<div class="w-full bg-orange-50 px-2 border-solid border-2 shadow-md py-4 mb-4 rounded-md">
    <h2 class="font-bold text-3xl">Habilidades Blandas 💫</h2>
    <br>
    <p class="text-xl">Soy una persona empática y capaz de entender los problemas de los demás, le gusta trabajar en equipo, compartir ideas y apoyar en todo lo necesario. Además, tengo una buena comunicación efectiva, la cual me sirve para poder realizar charlas y reuniones de equipo.</p>
</div>